@font-face {
  font-family: 'Avenir Roman';
  font-style: normal;
  font-weight: normal;
  src: local('Avenir Roman'), url('./fonts/avenir_roman_12.woff') format('woff');
  }

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #040714;
  color: #f9f9f9;

  font-family: 'Avenir-Roman', sans-serif;
  margin: 0;
  padding: 0;
}

a {
  color: #f9f9f9;
  text-decoration: none;
}

@media only screen and (min-width: 768px) { /* large desktop */
  body { 
    font-size: 16px;
  }
}

@media only screen and (min-width: 480px) and (max-width: 768px) { /* normal size phone */
  body {
    font-size: 15px;
  }
}

@media only screen and (max-width: 479px) { /* small device */
  body {
    font-size: 14px;
  }
}